{%- assign published = page.date | date_to_xmlschema -%}
{%- assign updated   = page.last_modified_at | date_to_xmlschema | default: published -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | strip_html | strip_newlines | escape }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author | default: site.author.name | escape }}"
  },
  "image": ["{{ page.image.path | default: site.logo | absolute_url }}"],
  "datePublished": "{{ published }}",
  "dateModified": "{{ updated }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>
